$font-family:"Noto Sans Georgian", sans-serif ;
$font-family-eng:"Poppins", sans-serif;
$color:white;
$color-lightblue:#AFEEEE ;
$color-normblue: #00c9d3;
$color-darkblue:#191970;

$color-main:black;